*, *::before, *::after {
    box-sizing: border-box;
    font-family: Minecraft Rus, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-image: url(picture.jpg);
  }
  
