body {
   /* background-color: #35333d;*/
    background-image: url('content/fon.gif');
    background-size: cover;
    text-align: center
}

a {
    color: #918bb1;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1, h2{
    color: #adacb3;
    font-family: "Lucida Console", "Courier New", monospace;
}

img {
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 1px;
    width: 150px;
  }
  
img:hover {
    box-shadow: 0 0 4px 2px rgba(0, 140, 186, 0.5);
  }

/*  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  /* Add some content at the bottom of the video/page *//*
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video *//*
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
*/